SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
BLINDTEST_PORT=3000
BLINDTEST_HOST=0.0.0.0
BLINDTEST_HOST_PIN=
BLINDTEST_HOME_ROOM=MAISON
BLINDTEST_PUBLIC_URL=
BLINDTEST_TRUST_PROXY=0
BLINDTEST_CAST_APP_ID=
BLINDTEST_COUNTRY=FR
