[Unit]
Description=Vérifie les mises à jour du blind test

[Timer]
OnBootSec=2min
OnUnitActiveSec=30min
RandomizedDelaySec=5min

[Install]
WantedBy=timers.target
